# Tuplas
## Sintáxe Básica

`[nome da váriavel] = ( [valor], [valor2] )`
**OU**
`[nome da váriavel] = ( [valor], )`

**Em termos de organização...** É recomendado utilizar parênteses `'( )'` na declaração das tuplas para melhor legibilidade, porém, é opcional.

In [ ]:
t = 1, 2, 3, 4, 5 # tuple t = (1, 2, 3, 4, 5)
s = (1, 2, 3, 4, 5) # tuple s = (1, 2, 3, 4, 5)
v = 'cat',  # tuple v = ('cat', )
y = ('cat') # str y = 'cat'
z = ('cat'), # tuple z = ('cat', )

print(type(t))
print(type(s))
print(type(v))
print(type(y))
print(type(z))

### Comparação entre tuplas

### Atribuição de Valores

In [ ]:
x, y, z = (2 * 'cat', 0.57721, [1, 2, 3])

print(x, y, z)

### Desempacotamentos
> ⚠ O desempacotamento de tuplas é um recurso que nos permite atribuir valores a múltiplas variáveis em uma única declaração. Ele funciona desempacotando uma sequência (por exemplo, uma `tuple` , `list` ou `str` ) em variáveis individuais.

## Exercícios

In [ ]:
personagens = [
("BoJack Horseman", "Will Arnett", "Cavalo"),
("Princess Carolyn", "Amy Sedaris", "Gato"),
("Diane Nguyen", "Alison Brie", "Humano"),
("Mr. Peanutbutter", "Paul F. Tompkins", "Cachorro"),
("Todd Chavez", "Aaron Paul", "Humano")
]

for i in personagens:
    personagem, dublador, especie = i
    print(f'{personagem} é um {especie} dublado por {dublador}')

# Funções & Propriedades
* Comparação 
* Atribuição
* Desempacotamento
* Enumerate
* Zip

## Comparação

In [ ]:
# A comparação de tuplas funciona no sentido de um dicionário. Comparando item por item.

(1, 2, 3) < (2, 2, 3) # True
(2, 2, 20) <= (2, 2, 2) # False
(1, 2, 3) < (1, 2, 3, 4) # True
('rato', 'gato','pato') < ('gato','rato','pato') # False
(1,'gato', (1, 2, 3)) > (0,'baleia', (1, 2, 0)) # True

## Atribuição

# Exercícios

## Exercício 1
Chico tem 1,50m e cresce 2cm por ano, enquanto Zé tem 1,10m e cresce 3cm por ano. <br>
Construa um algoritmo que calcule e imprima em quantos ano Zé será maior que Chico.

In [ ]:
for ano, amigos in enumerate(zip((150, 3, 2), (110, 1, 2))):

In [36]:
transacoes = [49, 40, -32, 11, 18, 9, -32, 1, -8, -34, -39, -30, -33, 38, 36,
 35, -46, 16, 43, -23, 44, -22, 50, -50, 46, 24, 49, -42, 12, -1]
saldo = 0

for dia, valor in enumerate(transacoes, start=1):
    saldo += valor
    if saldo < 0:
        print(f" Dia: {dia} Saldo: {saldo}")

 Dia: 11 Saldo: -17
 Dia: 12 Saldo: -47
 Dia: 13 Saldo: -80
 Dia: 14 Saldo: -42
 Dia: 15 Saldo: -6
 Dia: 17 Saldo: -17
 Dia: 18 Saldo: -1